
html, body {
  margin: 0;
  padding: 0;
  border: 0;

  height: 100%;
  width: 100%;
}

#content {
  width: 100%;
  height: 100%;

  .planets {
    width: 100%;
    height: 100%;

    .wrapper-3d {
      position: relative;
      width: 100%;
      height: 100%;

      canvas {
        position: absolute;
        top: 0;
        left: 0;
        pointer-events: none;
        user-select: none;
      }

      .overlay-3d {
        position: absolute;
        top: 0;
        left: 0;
        width: 0;
        height: 0;
        overflow: visible;

        .body-info-anchor {
          position: absolute;

          .body-info {
            position: absolute;
            bottom: 20px;
            left: 20px;
          }
        }
      }
    }

    .planets-input {
      position: absolute;
      top: 0;
      left: 0;
      height: 100%;
      width: 0;
      overflow: visible;

      .date-picker {
        width: 500px;
      }

      .inline-element {
        display: inline-block;
        margin: 0 5px;
      }
    }
  }
}
