
html, body {
  margin: 0;
  padding: 0;
  border: 0;

  height: 100%;
  width: 100%;

  font-family: Roboto, sans-serif;
}

#content {
  width: 100%;
  height: 100%;

  .planets {
    width: 100%;
    height: 100%;

    .wrapper-3d {
      position: relative;
      width: 100%;
      height: 100%;
      overflow: hidden;

      canvas {
        position: absolute;
        top: 0;
        left: 0;
        pointer-events: none;
        user-select: none;
      }

      .overlay-3d {
        position: absolute;
        top: 0;
        left: 0;
        width: 0;
        height: 0;
        overflow: visible;

        .body-info-anchor {
          position: absolute;

          .body-info {
            position: absolute;
            bottom: 20px;
            left: 20px;
            width: 270px;
          }
        }
      }
    }

    .planets-input {
      position: static;
      width: 0;
      height: 0;

      .date-picker {
        position: absolute;
        top: 0;
        left: 100px;
        width: 300px;

        input {
          text-align: center;
          cursor: pointer;
        }
      }

      .scale-toggle {
        position: absolute;
        top: 12px;
        left: 400px;
        width: 150px;
        vertical-align: middle;
      }

      .latitude-picker {
        position: absolute;
        top: 12px;
        left: 600px;
        vertical-align: middle;

        .latitude-picker-value {
          color: white;
          margin-right: 10px;
        }

        p {
          color: #ddd;
        }
        input {
          text-align: center;
        }
      }

      .menu-toggle {
        position: absolute;
        top: 0;
        left: 10px;
      }
    }
  }

  .page {
    position: absolute;
    color: #eee;

    a {
      color: #66DEFF;

      .open-in-new {
        font-size: 12px;
      }
    }

    .page-header {

      .page-header-title {
        padding: 15px 20px;
      }

      .page-header-icon {
        float: right;
      }
    }

    .page-content {
      margin: 5px 10px 5px 20px;
      padding-right: 10px;
      overflow-y: auto;
      font-weight: 300;
      line-height: 1.25em;
    }
  }
}

.help-info-window {
  i {
    color: #757575;
    font-size: 16px;
  }

  svg, i {
    margin-right: 15px;
  }
}

.help-info-visibility-bar {
  display: inline-block;
  margin: 0 0 -3px 10px;
  width: 200px;
}

.social-menu {
  fill: white;
  position: absolute;
  right: 21px;
  top: 6px;

  $icon-size: 36px;
  $icon-count: 4;

  .social-dropdown-wrapper {
    position: absolute;
    top: $icon-size;
    left: 0;
    width: 100%;
    height: 0;
    overflow: hidden;
    opacity: 0;

    transition: height 300ms, opacity 300ms;

    .social-dropdown {
      position: absolute;
      bottom: 0;
      left: 0;
      height: $icon-count * $icon-size;
      width: 100%;

      a {
        display: block;
        line-height: 0;
      }
    }
  }

  &:hover {
    .social-dropdown-wrapper {
      height: $icon-count * $icon-size;
      opacity: 1;
    }
  }
}

.breadcrumbs {
  font-size: .8em;

  .sep {
    margin: 0 3px;
  }

  .current-page {
    color: #FF669C;
  }
}
